<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather</title>
    <link rel="icon" type="image/x-icon" th:href="@{~/img/xpa-icon-no-bg.ico}"/>
    <link rel="stylesheet" th:href="@{~/lib/bootstrap/css/bootstrap-reboot.min.css}"/>
    <link rel="stylesheet" th:href="@{~/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/lib/bootstrap/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" th:href="@{~/lib/bootstrap/css/bootstrap-utilities.min.css}"/>
    <link rel="stylesheet" th:href="@{~/lib/bootstrap/css/bootstrap-icons.min.css}"/>
    <link rel="stylesheet" th:href="@{~/lib/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
    <script th:src="@{~/lib/jquery/jquery-3.7.1.min.js}" defer></script>
    <script th:src="@{~/lib/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{~/js/main.js}" defer></script>
</head>
<body>
<div id="loading" class="d-flex justify-content-center align-items-center d-none">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div layout:fragment="content" class="container p-3">
</div>
<footer class="rounded-start">
    <span>Made by <a href="https://www.github.com/ShadowXPA" target="_blank">Pedro Alves</a></span>
</footer>
</body>
</html>
